@use 'tailwindcss';

@use '../styles/fonts.css';

@use '../styles/mixins' as *;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #eaeaea;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
  padding: 0;
}

main {
  flex-grow: 1;
  padding: 80px 0 0;
  position: relative;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

ul {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1550px;
  margin: 0 auto;
  padding: 0 60px;

  @include vp-1023 {
    padding: 0 40px;
  }

  @include vp-767 {
    padding: 0 30px;
  }

  @include vp-500 {
    padding: 0 10px;
  }
}
