networks:
  dev:

services:
  nginx:
    image: nginx:alpine
    ports:
      - '80:80'
    volumes:
      - './nginx.conf:/etc/nginx/conf.d/default.conf'
    depends_on:
      - backend
      - frontend
    networks:
      - dev

  backend:
    build:
      context: ./backend
    ports:
      - '5000:5000'
    environment:
      - PORT=5000
      - TELEGRAM_BOT_TOKEN=${TELEGRAM_BOT_TOKEN}
      - TELEGRAM_CHAT_ID=${TELEGRAM_CHAT_ID}
      - FRONTEND_URL=http://localhost:3000
    networks:
      - dev

  frontend:
    build:
      context: ./frontend
    ports:
      - '3000:3000'
    environment:
      - PORT=3000
      - NEXT_PUBLIC_API_URL=http://backend:5000
    networks:
      - dev
