networks:
  dev:

services:
  nginx:
    image: nginx:alpine
    ports:
      - '80:80'
    volumes:
      - './nginx.conf:/etc/nginx/conf.d/default.conf'
    depends_on:
      - backend
      - frontend
    networks:
      - dev

  backend:
    build:
      context: ./backend
    ports:
      - '5000:5000'
    env_file:
      - ./backend/.env
    environment:
      - PORT=5000
      - FRONTEND_URL=http://localhost:3000
    networks:
      - dev

  frontend:
    build:
      context: ./frontend
    ports:
      - '3000:3000'
    environment:
      - NEXT_PUBLIC_API_URL=http://backend:5000
    networks:
      - dev
