.join {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0;
  gap: 40px;

  &_title {
    font-size: 65px;
    color: #373740;
    letter-spacing: 0.02em;
    font-family: 'Cormorant Garamond', serif;
    margin-bottom: 20px;
    line-height: 0.87;
    text-align: center;
    max-width: 1100px;
  }

  &_card {
    border-radius: 12px;
    padding: 10px;
    box-shadow: 0px 0px 8px 4px rgba(34, 60, 80, 0.2);
    max-width: 700px;
    position: relative;
    &_content {
      background:
        linear-gradient(rgba(217, 217, 217, 0.01), rgba(217, 217, 217, 0.01)),
        rgba(236, 224, 220, 0.6);
      display: flex;
      flex-direction: column;
      gap: 15px;
      border: 1px solid #b6b6b69e;
      border-radius: 12px;
      padding: 46px 30px 30px 30px;

      &_tag {
        font-size: 20px;
        color: #00000090;
        position: absolute;
        top: -20px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 68px;
        background: linear-gradient(120deg, #e4d1c5 0%, #f0e0d3 50%, #f5eae5 100%);
        padding: 8px;
        box-shadow: 0px 1px 10px 1px rgba(34, 60, 80, 0.2);
        border: 1px solid #e8e8e8;
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    &_description {
      font-size: 24px;
      color: #555555;
      line-height: 1.6;
      letter-spacing: 0.02em;
      font-weight: 600;
      margin-bottom: 30px;
    }

    &_price {
      font-size: 96px;
      color: #000;
      letter-spacing: 0.02em;
      font-family: 'Cormorant Garamond', serif;
      text-align: center;
      line-height: 0.87;
      position: relative;
    }

    &_note {
      font-size: 20px;
      color: #6b5e5d;
      text-align: center;
    }

    &_button {
      padding: 5px;
      font-size: 32px;
      width: 80%;
      display: flex;
      justify-content: center;

      color: #fff;
      cursor: pointer;

      background: linear-gradient(120deg, #b39165 0%, #e6c493 50%, #d7b27c 100%);
      border-radius: 30px;
      margin: 0 auto;
      margin-top: 20px;
      box-shadow: 0px 0px 8px 4px rgba(34, 60, 80, 0.2);
    }

    &_list {
      display: flex;
      gap: 5px;
      flex-direction: column;
      align-items: start;
      width: 100%;
      gap: 10px;

      &_item {
        display: flex;
        gap: 20px;
        color: #555555;
        font-size: 24px;
        align-items: center;
        font-weight: 400;
      }
    }

    &_divider {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &_title {
      font-size: 50px;
      color: #000;
      letter-spacing: 0.02em;
      line-height: 0.87;
      font-weight: bold;
      font-family: 'Cormorant Garamond', serif;
    }

    &_description {
      font-size: 24px;
      color: #32323b;
    }
  }
}
