@mixin vp-1023 {
  @media (max-width: 1023px) {
    @content;
  }
}

@mixin vp-1440 {
  @media (max-width: 1440px) {
    @content;
  }
}

@mixin vp-767 {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin vp-500 {
  @media (max-width: 500px) {
    @content;
  }
}
