@use '../../styles/mixins.scss' as *;

.suitable {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: clamp(25px, 3.47vw, 50px) 20px;
  position: relative;

  @include vp-767 {
    padding: clamp(25px, 3.47vw, 50px) 10px;
  }

  &_flower {
    position: absolute;
    right: 0;
    user-select: none;
    pointer-events: none;
    width: clamp(400px, 72.9vw, 1050px);
    height: auto;
    bottom: -10.9vw;
  }

  &_title {
    font-size: clamp(40px, 5.2vw, 75px);
    color: #373740;
    letter-spacing: 0.02em;
    font-family: 'Cormorant Garamond', serif;
    margin-bottom: clamp(10px, 1.39vw, 20px);
    line-height: 0.87;

    @include vp-767 {
      text-align: center;
    }
  }

  &_description {
    font-size: clamp(18px, 2.22vw, 32px);
    color: #555555;
    line-height: 1.6;
    max-width: clamp(400px, 48.6vw, 700px);
    text-align: center;
    margin: 0 0 clamp(8px, 1.04vw, 15px);
    padding: 0;
    letter-spacing: 0.09em;
  }

  &_list {
    display: flex;
    gap: clamp(12px, 1.74vw, 25px);
    justify-content: center;
    margin-top: 20px;

    @include vp-767 {
      flex-direction: column;
      align-items: center;
      gap: 50px;
    }

    &_item {
      display: flex;
      flex-direction: column;
      background: linear-gradient(120deg, #ece0dc3c 20%, #ffffff8e 60%);
      border-radius: 12px;
      border: 1px solid #b6b6b69e;
      padding: clamp(40px, 4.86vw, 70px) clamp(12px, 1.6vw, 23px) clamp(12px, 1.67vw, 24px);
      align-items: flex-start;
      position: relative;
      max-width: clamp(280px, 34.7vw, 500px);

      &_sublist {
        display: flex;
        flex-direction: column;
        gap: clamp(8px, 1.04vw, 15px);
        margin: clamp(10px, 1.39vw, 20px) 0 clamp(10px, 1.39vw, 20px) 5px;
        padding: 0 10px;

        &_item {
          display: flex;
          align-items: flex-start;
          gap: 6px;
          font-size: clamp(15px, 1.67vw, 24px);
        }
      }

      &_additional {
        background-color: #e9d9d8c9;
        border-radius: 12px;
        padding: clamp(6px, 0.69vw, 10px);
        margin: auto 0 0 0;

        &_title {
          font-size: clamp(16px, 1.67vw, 24px);
          color: #795c4d;
          line-height: 1.6;
          letter-spacing: 0.03em;
          font-weight: bold;
        }

        &_description {
          font-size: clamp(13px, 1.39vw, 20px);
          color: #555555;
          line-height: 1.6;
          letter-spacing: 0.02em;
          padding: 3px;
        }
      }

      &_title {
        font-size: clamp(22px, 2.5vw, 36px);
        color: #000;
        letter-spacing: 0.02em;
        line-height: 0.87;
        font-weight: bold;
        font-family: 'Cormorant Garamond', serif;
        text-align: center;
        margin-bottom: clamp(24px, 3.13vw, 45px);
      }

      &_description {
        font-size: clamp(13px, 1.39vw, 20px);
        font-weight: bold;
        color: #555555;
        text-align: left;
        line-height: 1.6;
        letter-spacing: 0.03em;
      }

      &_tag {
        font-size: clamp(13px, 1.39vw, 20px);
        color: #00000090;
        position: absolute;
        top: -20px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 68px;
        background: linear-gradient(#e7cfc9 0%, #f4e0d9 100%);
        padding: clamp(5px, 0.56vw, 8px);
        box-shadow: 0px 1px 10px 1px rgba(34, 60, 80, 0.2);
        border: 2px solid #ffffff;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &_tag_2 {
        background: linear-gradient(to right, #ddb984 0%, #f6daac 50%, #d7b27c 100%);
      }
    }
  }
}
