.need {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: clamp(15px, 2.08vw, 30px) 0;

  &_flower {
    position: absolute;
    right: 0;
    user-select: none;
    pointer-events: none;
    width: clamp(400px, 72.9vw, 1050px);
    height: auto;
    bottom: -10.9vw;
    z-index: -1;
  }

  &_title {
    font-size: clamp(40px, 5.2vw, 75px);
    color: #373740;
    letter-spacing: 0.02em;
    font-family: 'Cormorant Garamond', serif;
    margin-bottom: clamp(10px, 1.39vw, 20px);
    line-height: 0.87;
  }

  &_description {
    font-size: clamp(18px, 2.22vw, 32px);
    color: #555555;
    line-height: 1.6;
    max-width: clamp(400px, 48.6vw, 700px);
    text-align: center;
    margin: 0 0 clamp(8px, 1.04vw, 15px);
    padding: 0;
    letter-spacing: 0.09em;
  }

  &_list {
    display: flex;
    gap: clamp(3px, 0.35vw, 5px);
    flex-direction: column;

    &_item {
      display: flex;
      gap: clamp(3px, 0.35vw, 5px);
      font-size: clamp(15px, 1.67vw, 24px);
      align-items: center;
    }
  }
}
