.need {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 30px 0;

  &_flower {
    position: absolute;
    bottom: -150px;
    right: 0;
  }

  &_title {
    font-size: 75px;
    color: #373740;
    letter-spacing: 0.02em;
    font-family: 'Cormorant Garamond', serif;
    margin-bottom: 20px;
    line-height: 0.87;
  }

  &_description {
    font-size: 32px;
    color: #555555;
    line-height: 1.6;
    max-width: 700px;
    text-align: center;
    margin: 0;
    padding: 0;
    letter-spacing: 0.09em;
    margin-bottom: 15px;
  }

  &_list {
    display: flex;
    gap: 5px;
    flex-direction: column;

    &_item {
      display: flex;
      gap: 5px;
      font-size: 24px;
      align-items: center;
    }
  }
}
