.howCourseGo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 20px;
  position: relative;

  &_line {
    position: absolute;
    bottom: 40%;
    left: 50%;
    transform: translate(-50%, 50%);
  }

  &_flower {
    position: absolute;
    bottom: -150px;
    left: 0;
    transform: scaleX(-1);
  }

  &_title {
    font-size: 75px;
    color: #373740;
    letter-spacing: 0.02em;
    font-family: 'Cormorant Garamond', serif;

    line-height: 0.87;
  }

  &_description {
    font-size: 32px;
    color: #555555;
    line-height: 1.6;
    max-width: 700px;
    text-align: center;
    margin: 0;
    padding: 0;
    letter-spacing: 0.09em;
    margin-bottom: 15px;
  }

  &_list {
    display: flex;
    gap: 25px;
    justify-content: center;
    margin-top: 30px;

    &_item {
      display: flex;
      flex-direction: column;
      background:
        linear-gradient(rgba(217, 217, 217, 0.01), rgba(217, 217, 217, 0.01)),
        rgba(236, 224, 220, 0.6);
      border-radius: 12px;
      border: 1px solid #b6b6b69e;
      padding: 120px 10px 40px 10px;
      align-items: flex-start;
      position: relative;
      width: 100%;
      text-align: center;
      height: 540px;
      align-items: center;

      &_descriptions {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-top: auto;
      }

      &_title {
        font-size: 48px;
        color: #000;
        letter-spacing: 0.02em;
        font-family: 'Cormorant Garamond', serif;
        margin-bottom: 100px;
        line-height: 0.87;
        display: flex;
        text-align: center;
      }

      &_description {
        display: flex;
        align-items: flex-start;
        font-size: 22px;
        color: #555555;
        line-height: 1.6;
        margin: 0;
        padding: 0;
        margin-bottom: 15px;
        text-align: left;
        gap: 5px;
      }

      &_tag {
        position: absolute;
        font-size: 75px;
        color: #b98f6b;
        top: -50px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 12px;
        background: #eaeaea;
        border: 1px solid #b6b6b69e;
        font-family: 'Cormorant Garamond', serif;
        padding: 20px;
        display: flex;
        justify-content: center;
        letter-spacing: 0.02em;
        line-height: 0.87;
        align-items: center;
      }
    }

    &_item:nth-child(1) {
      margin-top: 100px;
    }
    &_item:nth-child(2) {
      margin-top: 55px;
    }
    &_item:nth-child(3) {
      margin-top: 10px;
    }
    &_item:nth-child(4) {
      margin-top: -40px;
    }
  }
}
