@use '../../styles/mixins' as *;
.howCourseGo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: clamp(40px, 5.56vw, 80px) 20px;
  position: relative;

  @include vp-767 {
    padding: clamp(60px, 5.56vw, 100px) 0;
  }

  &_line {
    position: absolute;
    bottom: 40%;
    left: 50%;
    transform: translate(-50%, 50%);

    @include vp-1023 {
      display: none;
    }
  }

  &_title {
    font-size: clamp(40px, 5.2vw, 75px);
    color: #373740;
    letter-spacing: 0.02em;
    font-family: 'Cormorant Garamond', serif;
    line-height: 0.87;
  }

  &_description {
    font-size: clamp(18px, 2.22vw, 32px);
    color: #555555;
    line-height: 1.6;
    max-width: clamp(400px, 48.6vw, 700px);
    text-align: center;
    margin: 0 0 clamp(8px, 1.04vw, 15px);
    padding: 0;
    letter-spacing: 0.09em;
  }

  &_list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: clamp(12px, 1.74vw, 25px);
    justify-content: center;
    margin-top: clamp(16px, 2.08vw, 30px);
    width: 100%;
    width: 100vw;
    margin-left: calc(50% - 50vw);
    padding: 50px 20px 15px;
    @include vp-1023 {
      grid-template-columns: repeat(2, 1fr);
      align-items: start;
      gap: 20px;
    }

    @include vp-767 {
      grid-template-columns: repeat(4, 300px);
      overflow-x: auto;
      margin: 0 -10px;
      margin-top: 10px;
    }

    &_item {
      display: flex;
      flex-direction: column;
      background:
        linear-gradient(rgba(217, 217, 217, 0.01), rgba(217, 217, 217, 0.01)),
        rgba(236, 224, 220, 0.6);
      border-radius: 12px;
      border: 1px solid #b6b6b69e;
      padding: clamp(60px, 8.33vw, 120px) clamp(6px, 0.69vw, 10px) clamp(20px, 2.78vw, 40px);
      position: relative;
      width: 100%;
      text-align: center;
      height: clamp(300px, 37.5vw, 540px);
      align-items: center;

      &_descriptions {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-top: auto;

        @include vp-1023 {
          margin-top: 10px;
        }
      }

      &_title {
        font-size: clamp(28px, 3.33vw, 48px);
        color: #000;
        letter-spacing: 0.02em;
        font-family: 'Cormorant Garamond', serif;
        margin-bottom: clamp(50px, 6.94vw, 100px);
        line-height: 0.87;
        display: flex;
        text-align: center;

        @include vp-767 {
          margin-bottom: 20px;
        }
      }

      &_description {
        display: flex;
        align-items: flex-start;
        font-size: clamp(14px, 1.53vw, 22px);
        color: #555555;
        line-height: 1.6;
        margin: 0 0 clamp(8px, 1.04vw, 15px);
        padding: 0;
        text-align: left;
        gap: 5px;
      }

      &_tag {
        position: absolute;
        font-size: clamp(40px, 5.2vw, 75px);
        color: #b98f6b;
        top: clamp(-30px, -3.47vw, -50px);
        left: 50%;
        transform: translateX(-50%);
        border-radius: 12px;
        background: #eaeaea;
        border: 1px solid #b6b6b69e;
        font-family: 'Cormorant Garamond', serif;
        padding: clamp(10px, 1.39vw, 20px);
        display: flex;
        justify-content: center;
        letter-spacing: 0.02em;
        line-height: 0.87;
        align-items: center;
      }
    }

    &_item:nth-child(1) {
      margin-top: clamp(50px, 6.94vw, 100px);

      @include vp-1023 {
        margin-top: 0;
      }
    }
    &_item:nth-child(2) {
      margin-top: clamp(28px, 3.82vw, 55px);

      @include vp-1023 {
        margin-top: 0;
      }
    }
    &_item:nth-child(3) {
      margin-top: clamp(5px, 0.69vw, 10px);

      @include vp-1023 {
        margin-top: 0;
      }
    }
    &_item:nth-child(4) {
      margin-top: clamp(-40px, -2.78vw, -20px);

      @include vp-1023 {
        margin-top: 0;
      }
    }
  }
}
