@use '../../styles/mixins' as *;

.footer {
  box-shadow: 0px 9px 8px -6px rgba(34, 60, 80, 0.2) inset;
  background:
    linear-gradient(rgba(217, 217, 217, 0.01), rgba(217, 217, 217, 0.01)), rgba(236, 224, 220, 0.6);
  display: flex;
  flex-direction: column;
  padding: clamp(10px, 1.39vw, 20px) 0 clamp(5px, 0.69vw, 10px) 0;

  &_policy {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin-top: clamp(10px, 1.39vw, 20px);
    gap: clamp(10px, 1.39vw, 20px);

    &_item {
      font-size: clamp(10px, 1.39vw, 20px);
    }
  }

  &_content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: clamp(60px, 13.19vw, 190px);

    @include vp-767 {
      grid-template-columns: 1fr 1fr;
      gap: clamp(20px, 2.78vw, 40px);
      align-items: center;
    }

    @include vp-500 {
      grid-template-columns: 1fr;
      gap: clamp(20px, 2.78vw, 40px);
    }

    &_social {
      color: #555555;
    }

    &_section_list {
      display: flex;
      flex-direction: column;

      &_item {
        list-style-type: initial;
        color: #555555;
        margin-left: 20px;
      }
    }

    &_section {
      display: flex;
      flex-direction: column;
      gap: clamp(5px, 0.69vw, 10px);
    }

    &_title {
      font-size: clamp(24px, 2.78vw, 40px);
      color: #000;
      font-family: 'Cormorant Garamond', serif;
      line-height: 0.87;
    }

    &_description {
      display: flex;
      flex-direction: column;
    }

    &_text {
      font-size: clamp(13px, 1.39vw, 20px);
      color: #555555;
    }

    &_text:nth-child(1) {
      margin-bottom: clamp(10px, 1.39vw, 20px);
    }
  }
}
