.footer {
  box-shadow: 0px 9px 8px -6px rgba(34, 60, 80, 0.2) inset;
  background:
    linear-gradient(rgba(217, 217, 217, 0.01), rgba(217, 217, 217, 0.01)), rgba(236, 224, 220, 0.6);
  display: flex;
  flex-direction: column;
  padding: 20px 0 10px 0;

  &_policy {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
  }

  &_content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 190px;

    &_social {
      color: #555555;
    }

    &_section_list {
      display: flex;
      flex-direction: column;

      &_item {
        list-style-type: initial;
        color: #555555;
        margin-left: 20px;
      }
    }

    &_section {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    &_title {
      font-size: 40px;
      color: #000;
      font-family: 'Cormorant Garamond', serif;
      line-height: 0.87;
    }

    &_description {
      display: flex;
      flex-direction: column;
    }
    &_text {
      font-size: 20px;
      color: #555555;
    }

    &_text:nth-child(1) {
      margin-bottom: 20px;
    }
  }
}
