@import '../../styles/mixins.scss';

.mastering {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: clamp(40px, 5.9vw, 85px) 0;
  position: relative;

  &_flower {
    position: absolute;
    left: 0;
    transform: scaleX(-1);
    z-index: -1;
    user-select: none;
    pointer-events: none;
    width: clamp(400px, 72.9vw, 1050px);
    height: auto;
    bottom: -10.9vw;
  }

  &_title {
    font-size: clamp(40px, 5.2vw, 75px);
    color: #373740;
    letter-spacing: 0.02em;
    font-family: 'Cormorant Garamond', serif;
    margin-bottom: clamp(10px, 1.39vw, 20px);
    line-height: 0.87;
  }

  &_description {
    font-size: clamp(18px, 2.22vw, 32px);
    color: #555555;
    line-height: 1.6;
    max-width: clamp(500px, 62.5vw, 900px);
    text-align: center;
    margin: 0 0 clamp(8px, 1.04vw, 15px);
    padding: 0;
    letter-spacing: 0.09em;
  }

  &_content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    gap: clamp(12px, 1.74vw, 25px);

    @include vp-1023 {
      grid-template-columns: repeat(2, 1fr);
    }

    @include vp-767 {
      grid-template-columns: 1fr;
    }

    &_item {
      display: flex;
      flex-direction: column;
      background:
        linear-gradient(rgba(217, 217, 217, 0.01), rgba(217, 217, 217, 0.01)),
        rgba(236, 224, 220, 0.6);
      border-radius: 12px;
      border: 1px solid #b6b6b69e;
      padding: clamp(12px, 1.6vw, 23px) clamp(12px, 1.6vw, 23px) clamp(20px, 2.78vw, 40px);
      width: 100%;
      align-items: center;

      &_image {
        padding: clamp(10px, 1.39vw, 20px) 0;
      }

      &_title {
        font-size: clamp(22px, 2.5vw, 36px);
        color: #000;
        letter-spacing: 0.02em;
        line-height: 0.87;
        font-weight: bold;
        font-family: 'Cormorant Garamond', serif;
      }

      &_tag {
        font-size: clamp(13px, 1.39vw, 20px);
        color: #00000090;
      }

      &_text {
        font-size: clamp(14px, 1.53vw, 22px);
        color: #32323b;
        max-width: clamp(300px, 37.5vw, 540px);
        margin: 0;
        padding: 0;
        line-height: 1.39;
        letter-spacing: 0.03em;
      }
    }
  }
}
