.mastering {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 85px 0;
  position: relative;

  &_flower {
    position: absolute;
    bottom: -163px;
    left: 0;
    transform: scaleX(-1);
    z-index: -1;
  }

  &_title {
    font-size: 75px;
    color: #373740;
    letter-spacing: 0.02em;
    font-family: 'Cormorant Garamond', serif;
    margin-bottom: 20px;
    line-height: 0.87;
  }

  &_description {
    font-size: 32px;
    color: #555555;
    line-height: 1.6;
    max-width: 900px;
    text-align: center;
    margin: 0;
    padding: 0;
    letter-spacing: 0.09em;
    margin-bottom: 15px;
  }

  &_content {
    display: flex;
    gap: 25px;

    &_item {
      display: flex;
      flex-direction: column;
      background-color: #ece0dc;
      border-radius: 12px;
      border: 1px solid #b6b6b69e;
      padding: 23px 23px 40px 23px;
      width: 100%;
      align-items: center;

      &_image {
        padding: 20px 0;
      }

      &_title {
        font-size: 36px;
        color: #000;
        letter-spacing: 0.02em;
        line-height: 0.87;
        font-weight: bold;
        font-family: 'Cormorant Garamond', serif;
      }

      &_tag {
        font-size: 20px;
        color: #00000090;
      }

      &_text {
        font-size: 22px;
        color: #32323b;
        line-height: 1.5;
        max-width: 540px;
        margin: 0;
        padding: 0;
        line-height: 1.39;
        letter-spacing: 0.03em;
      }
    }
  }
}
