.intro {
  background-image: url('/background.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;

  &_image {
    position: absolute;
    bottom: 0;
    right: 0;
    filter: drop-shadow(-7px -5px 8px rgba(34, 60, 80, 0.3));

    &_flower {
      position: absolute;
      bottom: -200px;
      right: 0;
    }
  }

  &_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    padding: 190px 0 128px 0;
    gap: 20px;
  }

  &_subtitle {
    font-size: 36px;
    color: #373740;
    letter-spacing: 0.3em;
    font-family: 'Cormorant Garamond', serif;
  }

  &_title {
    font-size: 96px;
    color: #000;
    font-family: 'Cormorant Garamond', serif;
    max-width: 820px;
    line-height: 0.87;
    letter-spacing: 0.02em;
    margin-bottom: 60px;
  }

  &_description {
    font-size: 22px;
    color: #32323b;
    max-width: 540px;
    line-height: 1.5;
    font-family: 'Cormorant Garamond', serif;
    margin: 0;
    padding: 0;
    line-height: 1.39;
    letter-spacing: 0.03em;
    margin-bottom: 32px;
  }

  &_buttons {
    display: flex;
    gap: 23px;

    &_button {
      padding: 10px;
      font-size: 18px;
      width: 340px;
      display: flex;
      justify-content: center;

      color: #000;
      cursor: pointer;

      border-radius: 30px;
      border: 2px solid #ddb688;
    }

    &_button_primary {
      background: linear-gradient(120deg, #dbb984 0%, #f6daac 50%, #d7b27c 100%);
      border: 2px solid #aaaaaa8a;
    }
  }
}
